@use '../../tile-search.scss';

#search-results, #game-list {
    padding: 0;
  
    h2 {
        font-size: 1.7em;
        text-align: left;
        margin: 0;
    }
  
    > li {
        box-sizing: border-box;
        color: black;
        margin: 0 auto;
        margin-bottom: 20px;
        width: tile-search.$width;
        min-width: tile-search.$minWidth;
        max-width: tile-search.$maxWidth;
        padding: 10px 20px;
        list-style-type: none;
        background-color: lightgray;
        border-radius: 5px;
        min-height: 70px;
    }

    select {
        width: 150px;
        text-overflow: ellipsis;
    }

    .list-item-header {
        background-color: #252525d5;
        color: #ffa600;
        position: relative;
        left: -20px;
        padding: 10px 20px;
        width: 100%;
        top: -10px;
        border-radius: 3px 3px 0 0;
        display: grid;
        grid-template-columns: minmax(200px, 500px) auto;
        grid-column-gap: 10px;
      
        p {
            text-align: left;
            margin-top: 0;
            font-size: 0.9em;
        }

        button {
            height: 50px;
            width: 50px;
            cursor: pointer;
            background-image: url(../../images/Delete_icon.svg);
            background: none;
            border: none;
            opacity: 0.3;
        
            &:hover {
                opacity: 1;
            }
        
            img {
                width: 26px;
            }
        }
    }

    .alteration-container {
        display: flex;
        justify-content: space-evenly;
        flex-flow: wrap;
        min-height: 80px;

        .copy {
            width: 160px;
            margin-bottom: 5px;
        }

        .move {
            display: flex;
            width: 160px;
            justify-content: space-evenly;

            button {
                width: 60px;
                height: 60px;
                cursor: pointer;
                background: none;
                border: none;
    
                img {
                    width: 85%;
                }
            }
        }
    }
    
}
