.list-modal {
    box-sizing: border-box;
    position: relative;
    background-color: white;
    padding: 20px 30px;
    border-radius: 5px;
    width: 90%;
    max-width: 600px;

    #close-modal {
        opacity: 0.3;
        height: 50px;
        width: 50px;
        position: absolute;
        right: 30px;
        top: 20px;
        background: none;
        border: none;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }

        img {
            width: 75%;
        }
    }
}

#modal-list-container {
    padding: 0;

    .modal-list-item {
        box-sizing: border-box;
        list-style-type: none;
        background-color: #ffa500;
        padding: 5px;
        border-radius: 10px;
        margin-bottom: 10px;
    }
}
