.modal {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #000000ab;
    z-index: 20;

    &.visible {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .modal-container {
        max-height: 80vh;
        overflow-y: scroll;
        scrollbar-width: none;
        
        &::-webkit-scrollbar {
            display: none;
        }
    }
}
