@use '../../breakpoints.scss';
@use '../../tile-search.scss';

header {
    height: 60px;
    color: white;
    background-color: #252525;
    text-align: left;
    position: relative;
    z-index: 10;
    display: grid;
    grid-template-columns: 200px auto;
    align-items: center;
    justify-items: center;
    box-sizing: border-box;
    padding: 0;
    min-width: 275px;

    button {
        cursor: pointer;
        background: none;
        border: none;
        height: 60px;
        width: 60px;

        img {
            opacity: 0.5;
            height: 30px;
            width: 30px;
            cursor: pointer;
        }

        &:hover {
            img {
                opacity: 1;
            }
        }
    }

    > a {
        text-decoration: none;
        margin: 0 15px;
        font-size: 1.3em;
        font-variant: petite-caps;
        color: white;

        &:hover {
            text-decoration: underline;
        }
    }

    input[type=text] {
        width: 100%;
        height: 32px;
        border-radius: 7px;
        padding-left: 20px;
        font-size: 1em;
        box-sizing: border-box;
    }
    
    #search-container {
        width: tile-search.$width;
        max-width: tile-search.$maxWidth;
        min-width: tile-search.$minWidth;
        margin: 0 auto;
    }

    @media screen and (min-width: breakpoints.$mobile) {
        > p {
            margin: 0 15px 0 20px;
        }

        button {
            display: none;
        }
    }

    @media screen and (max-width: breakpoints.$mobile) {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;

        #search-container {
            display: none;
        }
    }
}

#mobile-search-container {
    display: none;

    input[type=text] {
        width: 100%;
        height: 30px;
        border-radius: 10px;
        padding-left: 20px;
        font-size: 1em;
        box-sizing: border-box;
    }

    @media screen and (max-width: breakpoints.$mobile) {
        display: block;
        position: absolute;
        top: -10px;
        background: #252525;
        width: 100%;
        padding: 20px 50px;
        right: 0px;
        box-sizing: border-box;
        z-index: 1;
        transition: top 0.5s ease-in-out;
    }

    &.visible {
        top: 50px;
    }
}
