@use '../../breakpoints.scss';

#sidebar {
    background-color: #252525;
    color: white;
    height: 100vh;
    width: 15vw;
    min-width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 60px;
    z-index: 1;

    a {
        color: white;
    }

    ul {
        padding: 0;

        a {
            text-decoration: none;
        }

        li {
            list-style-type: none;
            padding: 5px;

            &.active {
                background-color: #ffa600;
                color: #252525;
                text-decoration: underline;

                &:hover {
                    background-color: #ffa600;
                }
            }

            &:hover {
                background-color: #805300;
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }

    @media screen and (max-width: breakpoints.$mobile) {
        transition: left 0.5s ease-in-out;
        left: -200px;

        &.visible {
            left: 0;
        }
    }
}
