@use './breakpoints.scss';
@use './tile-search.scss';

body {
  background-color: #2f2f2f;
}

#root, .App {
  position: absolute;
  min-height: 100%;
  width: 100%;
  text-align: center;
  min-width: 320px;
}

img {
  width: 50%;
}

a {
  color: white;
}

#main-container {
  min-height: 100%;
  margin-left: 200px;
  padding-top: 15px;
  padding-bottom: 70px;
  color: white;

  h1, p {
    width: tile-search.$width;
    max-width: tile-search.$maxWidth;
    min-width: tile-search.$minWidth;
    text-align: left;
    margin: 0 auto;
    margin-bottom: 0px;
    margin-bottom: 25px;
    max-width: 600px;
  }

  p {
    text-align: center;
  }
}

footer {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  width: calc(100% - 200px);
  background-color: #3b3b3b;
  color: white;
  padding: 20px;
  margin-top: 20px;
  margin-left: 200px;

  a {
    color: #ffa500;
  }
}

@media screen and (min-width: breakpoints.$hi-def) {
  #main-container {
    margin-left: 15vw;
  }

  footer {
    width: calc(100% - 15vw);
    margin-left: 15vw;
  }
}

@media screen and (max-width: breakpoints.$mobile) {
  #main-container {
    margin-left: 0;
  }

  footer {
    width: 100%;
    margin-left: 0;
    font-size: 0.95em;
  }
}
